%h1 Url Shortener
= form_for @link do |f|
	= f.label :url
	= f.text_field :url
	= f.submit
- @links.each do |link|
	%div
		= link.url
		= link_to request.original_url + link.slug.to_s, slug_path(link.slug)